@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sup Ma Dudes.</h1>
    <p>Following with the lovely Peter's tutorial, found <a href="https://www.youtube.com/watch?v=alMS9LIjvD8">here</a>.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://github-readme-stats.vercel.app/api?username=draxcodes&hide_border=true&theme=dark&show_icons=true" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Above is a little info regarding my current years github stats.</p>
                <a href="https://github.com/DraxCodes/" class="btn btn-primary">My Github Profile</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" style="padding-bottom: 48px;" src="https://raw.githubusercontent.com/DraxCodes/NewsAPI.Net/master/docs/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">NewsAPI.Net is an asynchronous library that allows easy access to the website named <a href="https://newsapi.org/">NewsApi.org/</a>.</p>
                <a href="https://github.com/DraxCodes/NewsAPI.Net" class="btn btn-primary">Project Site</a>
            </div>
        </div>
    </div>
</div>